@model IEnumerable<MusicFall2016.Models.Playlist>

<h2>Playlists for @User.Identity.Name</h2>
    <a class="btn btn-lg btn-info" href="/Playlist/CreatePlaylist">Create Playlist</a> 
 <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
    
            @foreach (var playlist in Model)
            {
                <tr>
                    <td>@playlist.Name </td>

                    <td>
                        @*<a asp-action="LikeAlbum" asp-route-id="@playlist.PlaylistId">Rename</a>*@
                        <a asp-action="DetailsPlaylist" asp-route-id="@playlist.PlaylistId">Details</a>
                        <a asp-action="DeletePlaylist" asp-route-id="@playlist.PlaylistId">Delete</a>
                    </td>
                </tr>
            }
</table>
